{% extends "base.html" %} {% block main %}
<div id="desc">
    <div id="desc_head">
        <img src="{{ url_for('static', filename='beescan.png') }}" alt="">
        <h1>- поиск фишинговых сайтов</h1>
    </div>

    <div id="main_desc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis perferendis ullam nihil quia expedita placeat, facilis laboriosam tenetur possimus excepturi, quasi qui delectus, fuga odio provident ea iste! Est. Dolore, pariatur mollitia
            ut quam architecto veritatis explicabo. Labore odio ullam doloremque? Nemo tempora, doloremque reiciendis molestias nostrum placeat possimus quis repudiandae dolorem incidunt quae vero, iure saepe corrupti unde? Porro iusto tempora quasi aliquid
            consequatur similique itaque voluptas est veniam, atque dolorem officia sapiente nisi aperiam minima beatae voluptatum accusamus rerum possimus rem sunt voluptate. Reiciendis fugiat libero repudiandae?</p>
        <ul>
            <li>lorem</li>
            <li>lorem</li>
            <li>lorem</li>
        </ul>
    </div>
</div>
{% endblock %}